### По данному натуральному n вычислите сумму $1^3+2^3+3^3+...+n^3$

In [0]:
x = int(input())

3

In [0]:
sum = 0
i = 1
while i <= x:
  sum += i ** 3
  i += 1
  
print(sum)

36

### По данному целому неотрицательному n вычислите значение $n!$

In [0]:
n = int(input())
factorial = 1
i = 1
while i <= n:
  factorial *= i
  i += 1
  
print(factorial)

20
2432902008176640000

### Напишите программу, которая по данному числу n от 1 до 9 выводит на экран n флагов. Изображение одного флага имеет размер 4×4 символов, между двумя соседними флагами также имеется пустой (из пробелов) столбец. Разрешается вывести пустой столбец после последнего флага. Внутри каждого флага должен быть записан его номер — число от 1 до n.

In [0]:
# n = 1
# 
# +___
# |1 /
# |__\
# |

In [0]:
n = int(input())
i = 1
while i <= n:
  print('+___')
  print('|{} /'.format(i))
  print('|__\\')
  print('|')
  i += 1

9
+___
|1 /
|__\
|
+___
|2 /
|__\
|
+___
|3 /
|__\
|
+___
|4 /
|__\
|
+___
|5 /
|__\
|
+___
|6 /
|__\
|
+___
|7 /
|__\
|
+___
|8 /
|__\
|
+___
|9 /
|__\
|

### Дано положительное действительное число $X$. Выведите его первую цифру после десятичной точки. При решении этой задачи нельзя пользоваться условной инструкцией и циклом.

In [0]:
x = float(input())

-2.52

In [0]:
print(int(x * 10) % 10)

5

### С начала суток прошло $H$ часов, $M$ минут, $S$ секунд ($0 \leq H < 12, 0 \leq M < 60, 0 \leq S < 60$). По данным числам $H$, $M$, $S$ определите угол (в градусах), на который повернулаcь часовая стрелка с начала суток и выведите его в виде действительного числа. При решении этой задачи нельзя пользоваться условными инструкциями и циклами.

In [0]:
h = int(input())
m = int(input())
s = int(input())

angle = 30 * h + 0.5 * m + 0.5 / 60 * s
print(angle)

5
30
0
165.0

### По данному числу n вычислите сумму $4(1−\frac{1}{3}+\frac{1}{5}−\frac{1}{7}+...+\frac{(−1)^n}{2n+1})$. Запрещается пользоваться операцией возведения в степень.

In [0]:
n = int(input())

sums = 1
sign = -1
for i in range(1, n+1):
  sums += (sign * 1) / (2 * i + 1)
  sign *= -1
  
sums *= 4
print(sums)

10000000
3.1415927535897814


### Дана строка. Разрежьте ее на две равные части (если длина строки — четная, а если длина строки нечетная, то длина первой части должна быть на один символ больше). Переставьте эти две части местами, результат запишите в новую строку и выведите на экран.

In [0]:
import math

s = 'abakabdabra' 

b = math.ceil(len(s) / 2)

print(s[b:] + s[:b])

dabraabakab

### Дана строка, в которой буква h встречается как минимум два раза. Разверните последовательность символов, заключенную между первым и последнием появлением буквы h, в противоположном порядке.

In [0]:
s = 'sdsdgsdghwefweghgweg'

ind1 = s.find('h')
ind2 = s.rfind('h')

print(s[:ind1] + s[ind2:ind1:-1] + s[ind2:])

sdsdgsdghgewfewhgweg