# Ah heck here we go again

<b>Контест 4</b>: https://contest.yandex.ru/contest/14003

до <b>29.09.2019 15:10</b> и до <b>06.10.2019 15:10</b> можно сдавать на половинный балл

<b>https://docs.python.org/3/reference/</b>

<b>https://www.python.org/dev/peps/pep-0008/</b>

# Вещественные числа и математические операции с ними (math)

In [0]:
# Наиболее распространённый тип для представления вещественных чисел в Python - float()
# Не забываем указать тип преобразования при считывании в input()

f = float(input())

3.14

In [0]:
# Всегда можно преобразовать в целое. В таком случае дробная часть просто отсекается

int(f)

3

In [0]:
# Сегодня для работы нам потребуется первая подгружаемая библиотека для работы - math
# Она входит в любой дистрибутив python по умолчанию
# Для подгрузки (импортирования) библиотеки используется следующий синтаксис

import math

In [0]:
# В прошлый раз мы упоминали, что существует несколько видов округления
# Округлять вещественные числа удобнее всего методами библиотеки math

f1 = round(f) # округление до ближайшего целого
f2 = math.floor(f) # округление "вниз"
f3 = math.ceil(f) # округление "вверх"

print(f1, f2, f3)

3 3 4

In [0]:
print(math.floor(-2.5))
print(int(-2.5))

-3
-2

In [0]:
# Полезные математические функции

print(math.sqrt(9)) # квадратный корень
print(9 ** 0.5)
print(math.pow(2, 6)) # возведение a в степень b
print(2 ** 6)

3.0
3.0
64.0
64

In [0]:
# Экспонента и логарифм

print(math.exp(2))
print(math.log(2.71)) # натуральный логарифм (по основанию e)
print(math.log(8, 2)) # логарифм числа 8 по основанию 2

7.38905609893065
0.9969486348916096
3.0

In [0]:
print(math.e)
print(math.pi)

2.718281828459045
3.141592653589793

In [0]:
# Тригонометрические операции
x = math.pi / 4

print(math.sin(x))
print(math.cos(x))
print(math.tan(x))

0.7071067811865475
0.7071067811865476
0.9999999999999999

In [0]:
x = 0

print(math.asin(x))
print(math.acos(x))
print(math.atan(x))

0.0
1.5707963267948966
0.0

In [0]:
x = math.pi / 4
y = 45

print(math.degrees(x)) # преобразование из радиан в градусы
print(math.radians(y)) # и наоборот
print(math.pi / 4)

45.0
0.7853981633974483
0.7853981633974483

# Операции со строками

In [0]:
# Кроме численных типов, в питоне изначально присутствуют еще много полезных типов объектов
# Одним из таких является строка (которая уже рассматривалась в предыдущей лекции)

a = "Hello, my friend!" # строка записывается в кавычках
type(a)

str

In [0]:
a = "Text"
b = 'Text' # Кавычки могут быть ординырными или двойными - в питоне разницы нет

c = """
Я волком бы
           выгрыз
                 бюрократизм.
К мандатам
           почтения нету.
К любым
        чертям с матерями
                            катись
любая бумажка.
                 Но эту...
""" # Для записи большого текста используется тройные кавычки(три раза двойные)
print(c)

Я волком бы
           выгрыз
                 бюрократизм.
К мандатам
           почтения нету.
К любым
        чертям с матерями
                            катись
любая бумажка.
                 Но эту...

In [0]:
# Для большинства объектов, содержащих в себе множетсво значений (такие объекты называются коллекциями) 
# определена функция len()
# Она возвращает количество значений в данной объекте
# Строки - не исключение

a = "Matilda"
len(a) # 7 - количество символов в строке "Matilda"

7

In [0]:
# Питон предоставляет удобный доступ к символам в строках
# Для доступа к единичному символу необходимо использовать квадратные скобки с индексом символа

a = "Matilda"
print(a[0]) # Важно, что нумерация начинается с 0!
print(a[3])

M
i

In [0]:
print(a[len(a)-1]) # Обращение к последнему символу в строке
# Питон также поддерживает отрицательные индексы, которые указывают на символы начиная с конца строки
# Таким образом, обращение к последнему символу может быть записано в виде
print(a[-1])

a
a

In [0]:
print(a[-2])
print(a[-3])

d
l

In [0]:
print(a[100])
print(a[-50]) # выход за пределы границ строки приводит к ошибке

IndexError: ignored

In [0]:
# Чтобы взять не один символ, а сразу целую подстроку, необходимо в квадратных скобках указать диапазон через
# двоеточие. Важно, что конец не включается

# Такая конструкция называется срез
print(a[0:4]) # строка с символами от 0 до 4, невключая 4-ый

Mati

In [0]:
print(a[2:5])
print(a[1:6])
print(a[0:-1])  # В данном случае индекс -1 указывает на последний символ, поэтому будет взята вся строка
                # кроме последнего символа
print(a[-4:-2]) # Аналогично с пердыдущим случаем. От -4-го до -2-го символа

til
atild
Matild
il

In [0]:
print(a[0:100]) # выход за пределы границ строки при срезе уже не вызывает ошибки.
# При этом будет взята строка до границы
print(a[2:])

Matilda
tilda

In [0]:
# Для того, чтобы взять строку до границы можно не указывать число
print(a[2:]) # Строка с 2-го символа до конца
print(a[:4]) # Строка с начала до 4-го
print(a[:])

tilda
Mati
Matilda

In [0]:
# Питон также позволяет указывать шаг, с которым нужно брать символы из строки
# Для этого необходимо через второе двоеточие указать этот шаг
print(a[1:6:2]) # с 1 по 6 с шагом 2, то есть 1, 3 и 5 символы
print(a[6:2:-1]) # можно указывать отрицательные шаги
                 # Важно, что при отрицательном шаге, интекс начала должен быть больше индекса конца
print(a[2:6:-1]) # Пустая строка, так как 6 > 2

aid
adli

In [0]:
# С использованием срезов, очень удобно сделать перевернутую строку
print(a[::-1])

adlitaM

In [0]:
b = "шабаш"
if(b == b[::-1]):
    print(b, " - слово-палиндром")
else:
    print(b, " - обычное слово")

шабаш  - слово-палиндром

In [0]:
# Для строк определены некоторые арифметические операции
a = "Hello"
b = "World"
print(a + b) # Конкатенация или "склеивание" строк

HelloWorld

In [0]:
a = "Hello, world"
b = "world"
print(a - b) # Операция вычитания для строк не определена

TypeError: ignored

In [0]:
a = "Hello"
b = "World"
print(a * 3) # Умножение повторяет строку указанное количесвто раз
print(a * a)

HelloHelloHello

TypeError: ignored

In [0]:
print( (a + " " + b + " ") * 4 )

Hello World Hello World Hello World Hello World

In [0]:
print(a * 0) # Домножение на ноль вернет пустую строку
print(a * -2) # как и домножение на отрицательные числа

In [0]:
# Для удаления лишних пробелов можно использовать функции rstrip, lstrip, strip
s = "    Hello                "
s.rstrip() # обрезано справа

'    Hello'

In [0]:
s.lstrip() # обрезано слева

'Hello                '

In [0]:
s.strip() # обрезано с обоих сторон

'Hello'

In [0]:
# strip очень удобно использовать при считывании пользовательского ввода
input().strip()

    anfd

'anfd'

In [0]:
# методы find и rfind находят первое и последнее вхождение символа в строке

v = 'Шла Саша по шоссе и сосала сушку'

print(v.find('c'))
print(v.rfind('с'))

14
27

In [0]:
# приведение строки к единому регистру - lower и upper

print(v.lower())
print(v.upper())

шла саша по шоссе и сосала сушку
ШЛА САША ПО ШОССЕ И СОСАЛА СУШКУ

In [0]:
# можно заменить вхождения подстроки методом replace

s = 'Hello'
s.replace('l', 'L')

'HeLLo'

In [0]:
# если указать числовой параметр X, заменятся только первые X вхождений

s = 'Abrakadabra'
s.replace('a', '', 2)

'Abrkdabra'